/* Reset */
body {
    margin: 10px;
    padding: 10px;
}
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
*/ .global {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* Partie 1 =========@mmmm#mmmm@========= Partie 1 */

/* main */
.main {
    width: 540px;
    height: 100%;
    border: solid;
    float: left;
    margin-right: auto;
    margin-left: auto;
}
/* main-header  */

.main-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.main-header h1 {
    padding-top: 25px;
    margin-left: 10px;
}
/* bouton */
img {}
/* main-container */

#maincontainer {
    width: 534px;
    height: 738px;
}
/* content */

.content h1 {} #bouton {
    width: 64px;
    height: 64px;
    margin: 10px;
}

.separt {
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;
}
/* content2  */

.content2 {
    padding: 20px;
}
.content2 li {
    text-decoration: line-through;
    font-size: 25px;
}

#content2 h1{
    /*color: red;*/
}


/* content3 */

.content3 {
    position: absolute;
    left: 35px;
    top: 280px;
}
.content3 span {} .content3 ul {
    position: absolute;
    left: 116px;
    top: 17px;
    right: -350px;
    text-align: center;
    list-style: none;
}
.content3 li {
    font-size: 25px;
    list-style-type: circle;
    padding: 10px 10px;
}
.description {
    padding: 10px;
    margin: 10px;
}
.info {
    position: relative;
    left: 50px;
}
.separt2 {
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;
}
/* content4 */

.content4 {
    position: absolute;
    display: block;
    top: 430px;
    left: 45px;
    right: 0;
}
.content4 li {
    font-size: 25px;
    top: 0;
    left: 15px;
    right: 0;
    list-style-type: circle;
}
/* next-container */

.next-container {
    position: absolute;
    display: block;
    top: 575px;
    left: 35px;
    right: 0;
}
.next-container li {
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    text-decoration: line-through;
    FONT-WEIGHT: bold;
    font-size: 25px;
    color: red
}
li:first-line {
    color: black
}
.separt3 {
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;
}
/* main-footer */

.main-footer {
    position: absolute;
    top: 780px;
    left: 100px;
}
.main-footer p {
    top: 0;
    left: 15px;
    right: 0;
    list-style: none;
    text-align: center;
}
.main-footer ul {
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 10px;
}
.main-footer span {
    border-bottom: 1px solid black;
}
.main-footer li {
    display: inline;
    padding: 10px 10px 10px;
}
/* Partie 2 =========@mmmm#mmmm@========= Partie 2 */
/* main-container */

#maincontainer2 {
    display: none;
    position: relative;
}

/* content2 */
.content2 h1 {}

.separt4 {
    width: 90%;
    margin-left: 25px;
    margin-top: 10px;
}
/* content3  */

.contents3 {
    padding: 20px;
}
.contents3 h2 h3 {
    list-style-type: circle;
    font-size: 25px;
}
.Clear-the-content2 {
    position: absolute;
    top: 15px;
    font-size: 20px;
    left: 455px;
}
.Clear-the-content2 li {
    border-bottom: 1px solid black;
    list-style-type: none;
}
/* contents4 */

.contents4 {
    padding: 20px;
}
.contents4 h2 {} .contents4 ul {
    list-style: none;
}
.contents4 li {
    display: inline;
    padding: 10px 10px;
}
.list-item li {
    list-style-type: none;
}
/* content5 */

.content5 {
    padding: 20px;
}
.content5 li {
    display: inline;
    padding: 10px 10px;
}

/*  calandrier */
#demo, #demo2 {
    display: inline-block;
}
/* main-footer2 */

.main-footer2 {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    padding: 10px;
    margin: 10px;

}
.main-footer2 p {
    top: 0;
    left: 15px;
    right: 0;
    list-style: none;
    text-align: center;
}
.main-footer2 ul {
    text-align: center;
    list-style: none;
}
.main-footer2 li {
    display: inline;
    padding: 10px 10px 10px;
}

/*for ajax */

 h1 {
    color: #147;
}

 h2 {

    color: #a5a5e4;
}
